
<div class="row mx-auto bg-danger shadow-lg p-3 mb-5 rounded" style="width: 70%;height: 600px;background:linear-gradient(110deg, #100E17, #6CB25E 50%,#100E17);">
    
    <h1  class=" mx-auto text-light shadow-lg" style="font-size: 2.5vw; font-family: fantasy;">Contact</h1>
    
   <p class="mb-5 shadow-lg p-3 mb-5 rounded" style="font-size: 1.2vw; text-align: center; font-family: Arial, Helvetica, sans-serif;">Paragraphs are the building blocks of papers Many students define paragraphs in terms of length<br>a paragraph is a group of at least five sentences, a paragraph is half a page long<br>the unity and coherence of ideas among sentences.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116).</p>
  <div class="row">
      <div style="text-align:center" class="col-md-6">
        <app-card>
        <h3 class="card-title">Laptop</h3>
            <a routerLink="Laptop" class="btn btn-success ">Know More About Laptop</a>
        </app-card>
      </div>
      <div style="text-align:center" class="col-md-6">
        <app-card>
            <h3 class="card-title">Mobile</h3>
            <a routerLink="Laptop" class="btn btn-success">Know More About Mobile</a>
        </app-card>
      </div>
      <div style="text-align:center" class="col-md-6">
        <app-card>
            <h3 class="card-title">Tv</h3>
            <a routerLink="Laptop" class="btn btn-success">Know More About Tv</a>
        </app-card>
      </div>
      <div style="text-align:center" class="col-md-6">
        <app-card>
            <h3 class="card-title">Washing Machine</h3>
           <a routerLink="Laptop" class="btn btn-success">Know More About Washing Machine</a>
        </app-card>
      </div>
  </div>
</div>