<!-- <app-task></app-task> -->
<!-- <app-c-sha></app-c-sha>
<app-navbar></app-navbar> -->


<div class="row mx-auto bg-light shadow-lg rounded"style="width: 70%;background-image: linear-gradient(105deg,#776CB2,#D0D8DB 30%,#100E17 90% );">

    <header>
        <ul class="nav nav-tabs btn">
            <li class="nav-item"><a class="nav-link btn" routerLinkactive="myActiveClass active"
                    routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link btn " routerLinkactive="myActiveClass active"
                    routerLink="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link btn " routerLinkactive="myActiveClass active"
                    routerLink="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link btn " routerLinkactive="myActiveClass active"
                    routerLink="/contact">Contact Us</a></li>

         <li class="nav-item"><a class="nav-link btn " routerLinkactive="myActiveClass active"
                        routerLink="/buy-products">buy-products</a></li> 

        </ul>
    </header>
</div>


<router-outlet></router-outlet>